<div class="min-vh-100 d-flex flex-column">
    <app-header />

    <main class="flex-fill">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <app-search-card [status]="(status$ | async) ?? 'closed'" (search)="onSearch($event)" />
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-12 col-lg-8">
                    <app-usage-card [snapshot]="(current$ | async)" [hasSearched]="hasSearched" />
                </div>
            </div>
        </div>
    </main>

    <app-footer />
</div>